.App{
    text-align: center;
    height: fit-content;
    max-height: max-content;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    /* padding-bottom: 40px; */

}
.App-header{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex: wrap;
}
.animeGrid{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    gap: 0px; /* adjust as needed */
    justify-items: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 20px;
}
button{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: hsla(202, 68%, 39%, 0.884);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.25s ease;
    border-radius: 8px;
}
button:hover{
    background-color: hsla(212, 81%, 23%, 0.822);
    color: white;
    box-shadow: inset 0 0px 30px  10px hsl(202, 68%, 39%);
    
}
#importantInfo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition : 0.25s ease;
    position: fixed;
    cursor: pointer;
  bottom: 50px; /* Adjust as needed */
  right: 150px; /* Adjust as needed */
    
}
#importantInfo:hover{
    transform: scale(1.3);
    box-shadow: 0 0 40px #02d9e0;
    transition : 0.25s ease;
}
